.slider {
  z-index: 20;
  background-color:#fff;
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.translate-none {
  transform: translateX(0%);
  transition: transform .15s;
}

.translate-right-full {
  transform: translateX(100%)
}